# Build outputs
build/
cmake-build-*/
out/
tags

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Compiled files
*.o
*.obj
*.exe
*.out

# Third-party libs
#third_party/

# CMake
CMakeFiles/
cmake_install.cmake
Makefile
